# Ignore Eclipse metadata.
.project
.loadpath

# Ignore persisted data.
settings.json
data-root/

# Ignore sass cache.
.sass-cache/

# Ignore the tmp/ folder, used to restart on production.
tmp/

# Vagrant data
.vagrant/
