.about
  %h2 smash
  %p
    Ash is a software developer by trade, and occasionally a runner, cook, writer, and gamer; but mostly, he reads science fiction and wastes time on Internet forums. He gets excited about new programming languages, web application design, artificial intelligence, and software development tools and processes.
  %ul.contact
    %li
      %a{ :href => 'http://twitter.com/smashwilson/' } twitter
    %li
      %a{ :href => 'https://plus.google.com/u/0/112144654629070530584/posts' } google+
    %li
      %a{ :href => 'https://github.com/smashwilson' } github
.about
  %h2 tigereyes
  %p
    Jayne is an information security auditor. She tries very hard not to be your worst enemy.  She also runs, writes, reads, knits, yells about US politics and spends lots of time with the cats of the house.  Her reading preferences include Russian literature, science fiction, history, and other classic literature.
.attribution
  All image resources are original art by smash and tigereyes, except for the RSS feed icon provided courtesy of
  <a href="http://www.feedicons.com/">feedicons</a>.
