!!! Strict
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => "text/html; charset=iso-8859-1"}
    %link{ :href => '/favicon.ico', :rel => 'shortcut icon' }
    %link{ :href => '/azure.css', :type => 'text/css', :rel => 'stylesheet' }
    %title azurefire
  %body
    %h1.banner azure<span>f</span>ire
    .user-display TODO Quote of the day goes here.
    = navigation
    - [:success, :error].each do |type|
      - if flash.has? type
        .flash{ :class => type }= flash[type]
    .content
      = yield
