%form{ :method => 'post' }
  %p
    %input.title{ :type => 'text', :name => 'title' }
  %p
    %textarea{ :width => 80, :height => 100, :name => 'body' }
  %p
    %input{ :type => 'submit', :value => 'Submit post' }