%form.post{ :method => 'post', :action => '/news/write' }
  %input{ :type => 'hidden', :name => 'persisted', :value => @post.persisted }
  %input{ :type => 'hidden', :name => 'timestamp', :value => @post.timestamp.to_i }
  %p
    %input.title{ :type => 'text', :name => 'title', :value => @post.title }
  %p
    %textarea{ :width => 80, :height => 100, :name => 'body' }
      = @post.body
  %p
    %input{ :type => 'submit', :name => 'submit', :value => 'Submit' }
    %input{ :type => 'submit', :name => 'preview', :value => 'Preview' }
#preview.post.markdown
  %h2.title= @post.title
  = markdown @post.body