.post
  != @post.content
%ul.controls
  %li.comment-count
    = "comments (#{@post.comment_count})"
%ul.comments
  - @post.comments.each do |c|
    %li
      = haml :partial_comment, :locals => { :comment => c }, :layout => false
  %li.new
    %form{ :method => 'post' }
      %p
        %label{ :for => 'name' } name (optional)
        %input{ :type => 'text', :id => 'name', :class => 'name', :name => 'name' }
      %p
        %textarea{ :name => 'body' }
      %p
        %input{ :type => 'submit', :value => 'Submit' }
        %input{ :type => 'submit', :value => 'Preview' }
